

.App-header {
  display: grid;
  grid-template-areas: "name logo1 logo2 logo3 about pdf";
  grid-template-columns: 39% 7% 7% 7% 20% 20%;
  justify-content: fill;
  background-color: #222;
  padding: 5pt;
  height: 50pt;
  color: white;
}

.Name {
  grid-column: 1 / 2;
  font-size: 5vw;
  color: white;
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.Logo {
  grid-column: 2 / 5;
  background-size: 100%;
  max-height: 50pt;
  max-width: 50pt;
  background-color: #222;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.LinkedIn {
  grid-column: 2 / 3;
  background-image: url('./2000px-Linkedin_icon.svg.png');
}

.GitHub {
  grid-column: 3 / 4;
  background-image: url('./GitHub-Mark/PNG/GitHub-Mark-Light-64px.png');
}

.Twitter {
  grid-column: 4 / 5;
  background-image: url('./BrandGuidelineLogos/TwitterLogo.png');
}

.About {
  grid-column: 5 / 6;
  font-size: 3vw;
  color: white;
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.ResumeLink {
  grid-column: 6 / 7;
  font-size: 3vw;
  color: white;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  line-height: 50pt;
}
